<div class="user-details">
  <h1>About Myself</h1>
  <p> I am Cristian, a master of science student at the University of Bologna, Italy. I love coding and In my free time
    you can find me learning new programming languages or work on some of my projects. If you want to know more about them 
    go check my <a href="https://github.com/CDOrtona">Github Page</a>. 
  </p>
 

  <h1>Education</h1>
  <ul>
    <li> MSc Electronics Engineering, University Of Bologna </li>
    <li> BSc Electronics and Telecomunication Engineering, University Of Bologna </li>
  </ul>

  <h1>Interests</h1>
  <u1>
    <li>Embedded Systems</li>
    <li>Digital Electronics</li>
    <li>Internet Of Things</li>
    <li>Computer Vision</li>
  </u1>


  <h3> If you want to know more about me go check my <a href="">Resume</a>.</h3> 

</div>




